language: bash
services: docker
sudo: required

notifications:
  email: false
  slack:
    rooms:
      - secure: i+4khtlCgDVyFdq71+q+X34e45NvcvI3vOKjVC7hFoih2Dlf0ZyY5Bj6fTo+CyMuCncb9XHbG/cXjkE1Ou8hgxbjN0nHvnJZa7H7mgaKjfWs31fnEna+cew8mxUkB82c//wcQfvcU9uFRu1+tQIK0yfvoUixn3uyFMyt2kIhYHzDpclKwum9XJK4pjzvL5aN4WOVYkTIuC6pZe7+OAmJ55qMbBtktyHbCQUTbriuq6gb0Bbht0YhuHQkJRMXSas9mq6ht/hdsIDuohIfe9ZdXvSyxgwsFs+53dKfgdG60ElwZjVpUi6yLZKejaw/KZwC9DnTh1SPOeEKAw3S8IDDBUghLiam/NQqZbaEB2NDNOGjk1ktX0Jv3teyxXvZejiV1c8PciTHalZqeOtGC1pNcLtvKz8fdhuwu2+Bn33FyacNXwCTPJX92yOwCYEfoa99KAa3EDbfRlRtdRIJOH92i3qIrcjNC+utm9Za6RBcSll6GdMZdtCyEVU9FFgn/DAfGi0Uj7/PrwQfAul3qaVWhHinpTkrBq8XdfsYzRw4gdYWZsdfgwQ7VCLUQWHI573NFvnCRVecB7bhj5xzV/SSXa3WXzCpSuAy3RGCPIpp7CZ7Yc6/J6yBOij+T5OwdNwVI5lqqts4PatRvuRlJOmhX2hHRmb0o/85diblFSr6sKU=
    on_success: change
  
# Install the latest Docker version to allow multi-stage builds
before_install:
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
  - docker --version
  
# Install QEmu to allow Travis (on x86 systems) to build ARM images
install:
  - docker run --rm --privileged multiarch/qemu-user-static:register

# Build and test the image
script:
  - docker build -t napnap75/rpi-docker-backup:latest .
  - docker build -t napnap75/rpi-docker-backup:debug -f Dockerfile.debug .
  - docker images
  - docker run --rm napnap75/rpi-docker-backup:latest restic version
# Prepare the tests
  - echo "1234567890" > restic_pass
  - mkdir backup ; touch backup/file
# Test it localy
  - docker run -v $PWD/restic_repo:/restic_repo -e "RESTIC_REPOSITORY=/restic_repo" -v $PWD/restic_pass:/restic_pass -e "RESTIC_PASSWORD=/restic_pass" --name docker-backup-local --label "napnap75.backup.dirs=$PWD/backup" -v /var/run/docker.sock:/var/run/docker.sock:ro -v /:/root_fs:ro -e "SLACK_URL=$SLACK_URL" napnap75/rpi-docker-backup:latest /usr/bin/docker-backup.sh run-once
  - ls -al restic_repo
# Test it with SFTP
  - docker run -d -p 2021:22 --name sftp-test-server -e SSH_USER_FORCE_SFTP=true jdeathe/centos-ssh:centos-7
  - curl -LSs https://raw.githubusercontent.com/mitchellh/vagrant/master/keys/vagrant > id_rsa_insecure && chmod 600 id_rsa_insecure
  - sleep 30
  - docker run --link sftp-test-server -e "RESTIC_REPOSITORY=sftp:app-admin@sftp-test-server:_data" -v $PWD/restic_pass:/restic_pass -e "RESTIC_PASSWORD=/restic_pass" -v $PWD/id_rsa_insecure:/root/private-key -e "SFTP_KEY=/root/private-key" -e "SFTP_PORT=22" -e "SFTP_HOST=sftp-test-server" --name docker-backup-sftp --label "napnap75.backup.dirs=$PWD/backup" -v /var/run/docker.sock:/var/run/docker.sock:ro -v /:/root_fs:ro -e "SLACK_URL=$SLACK_URL" napnap75/rpi-docker-backup:latest /usr/bin/docker-backup.sh run-once
  - docker diff sftp-test-server

# If successful, push the images
after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
      docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD" ;
      docker push napnap75/rpi-docker-backup:latest ;
      docker push napnap75/rpi-docker-backup:debug ;
      VERSION=$(docker run --rm napnap75/rpi-docker-backup:latest restic version | grep restic | egrep -o "[0-9]+\.[0-9]+\.[0-9]+") ;
      docker tag napnap75/rpi-docker-backup:latest napnap75/rpi-docker-backup:${VERSION} ;
      docker push napnap75/rpi-docker-backup:${VERSION} ;
    fi
    
